.App {
  text-align: center;
}

.App-logo {
  size: 10px;
  display: flex;
  align-items: flex-start;
}
.Clean-Room{
  size: 10px;
  display: flex;
  align-items: flex-start;
}

.App-header {
  background-color: #CFD7B3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

