.App {
  text-align: center;
  background-color: #cfd7b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.Image {
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}

.App-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* .sized-box{
  width: 350px;
} */
.AddBtn{
  height: 40px;
  width: 200px;
  border-radius: 15px;
  color: #EB9698;
  border-color: #EB9698;
  font-size: 30px;
  background-color: #cfd7b3;
  font-weight: bold;
}
.strike{
  text-decoration: line-through;
}