.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #cfd7b3;
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start; 
    justify-content: left;
    float: left;
    padding: 20px;
    cursor: pointer;     

    transition: all 0.3s ease;
}
.Task-list .checkboxes label{
    font:bolder 60%;
    padding-right: 60px;
      
}

.ContainerImage{
    background-color: #cfd7b3;
    height: auto;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}
.sizedbox{
    width:300px;
}
#Task-List{
    background-color: #9C7C73;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 15px;
    height: auto;
    display: flex;
    /* flex-direction: column; */
    text-align: start;
    direction: column;
    justify-content: left;
    float: left;
    padding: 20px;
    cursor: pointer;    
}
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
