.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #cfd7b3;
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start; 
    justify-content: left;
    float: left;
    padding: 20px;
    cursor: pointer;     

    transition: all 0.3s ease;
}
